<!DOCTYPE html>
<html>
<head>
  <title>MonitaAzul</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="application-print.css" type="text/css" media="print">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="application-ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="content">
	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</div>
</body>
</html>
